.btn-login {
  width: 100%;
  background: darkblue;
  border: none;
  margin: 0;
  color: white;
  padding: 10px;
  font-size: 20px;
  transition: background .5s;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #1459d8;
}
