.register-form {
  background: white;
  width: 30vw;
  margin: auto;
  margin-top: 20vh;
  border-radius: 5px;
  transition: box-shadow .5s;
}

.register-form:hover {
  box-shadow: 0 0 20px 5px pink;
}

.active {
  display: block
}

.non-active {
  display: none
}


#login-trigger {
  color: white;
  margin: 25px 0;
  text-align: center;
}

#login-trigger:hover {
  cursor: pointer;
  text-decoration: underline;
}
