header:after {
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,#01d1fe,#ff005c);
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

header.home {
  position: relative;
  height: 100vh;
}

header.home canvas {
  height: calc(100vh - 20px) !important;
  position: inherit !important;
  border-bottom-right-radius: 200px;
}

header:not(.home) {
  position: relative;
  height: 20vh;
}

header:not(.home) canvas {
  height: calc(20vh - 20px) !important;
  position: inherit !important;
  border-bottom-right-radius: 200px;
}
