nav {
  text-align: right;
  background: none;
  padding: 20px;
  border: none;
  position: fixed;
  top: 0;
  width: 100vw;
  right: 0;
  z-index: 9999;
}

nav.active {
  background: black;
  box-shadow: 0 0 20px 2 black;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li span {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 50px;
  transition: border .5s, color .5s
}

nav ul li span:hover {
  color: #00d2ff;
  border: 2px solid #00d2ff;
  padding: 5px 15px;
  cursor: pointer;
}

nav ul li:last-child:hover span {
  color: red;
  border: 2px solid red;
  padding: 5px 15px;
}
