.profile-form {
  margin: 25px 0;
}

.profile-form .row {
  margin-top: 25px
}

.profile-form input, .profile-form select, .profile-form textarea {
  padding: 10px;
}

.profile-form textarea {
  height: 150px
}


.profile-form .title {
  line-height: 1.4em;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 500px;
  font-weight: 900;
  border-left: 3px solid #0ac9f8;
  padding-left: 10px;
}

.profile-form .title:after {
  content: '';
  height: 3px;
  width: 600px;
  background: -webkit-linear-gradient(left,#01d1fe,#ff005c);
  background: linear-gradient(to right,#01d1fe,#ff005c);
  display: block;
  position: absolute;
  left: 15px;
}

.bs-vertical-wizard {
    border-right: 1px solid #eaecf1;
    padding-bottom: 50px;
    margin-top: 100px;
}

.bs-vertical-wizard ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bs-vertical-wizard ul>li {
    display: block;
    position: relative;
}

.bs-vertical-wizard ul>li>span {
    display: block;
    padding: 10px 10px 10px 40px;
    color: #333c4e;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .8px;
    padding: 60px;
}

.bs-vertical-wizard ul>li>span:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    background-color: #bdc2ce;
    left: 20px;
    bottom: -9px;
    z-index: 3;
}

.bs-vertical-wizard ul>li>span .ico {
    pointer-events: none;
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 2;
}

.bs-vertical-wizard ul>li>span:after {
    content: '';
    position: absolute;
    border: 2px solid #bdc2ce;
    border-radius: 50%;
    top: 14px;
    left: 6px;
    width: 30px;
    height: 30px;
    z-index: 3;
}

.bs-vertical-wizard ul>li>span .desc {
    display: block;
    color: #bdc2ce;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .8px;
}

.bs-vertical-wizard ul>li.complete>span:before {
    background-color: #5cb85c;
    opacity: 1;
    height: calc(100% - 25px);
    bottom: -9px;
}

.bs-vertical-wizard ul>li.complete>span:after {display:none;}
.bs-vertical-wizard ul>li.locked>span:after {display:none;}
.bs-vertical-wizard ul>li:last-child>span:before {display:none;}

.bs-vertical-wizard ul>li.complete>span .ico {
    left: 8px;
}

.bs-vertical-wizard ul>li>span .ico.ico-green {
    color: #5cb85c;
}

.bs-vertical-wizard ul>li>span .ico.ico-muted {
    color: #bdc2ce;
}

.bs-vertical-wizard ul>li.current {
    background-color: #fff;
}

.bs-vertical-wizard ul>li.current>span:before {
    background-color: #eb1169;
    opacity: 1;
}

.bs-vertical-wizard ul>li.current>span:after {
    border-color: #eb1169;
    background-color: #eb1169;
    opacity: 1;
}

.bs-vertical-wizard ul>li.current:after, .bs-vertical-wizard ul>li.current:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bs-vertical-wizard ul>li.current:after {
    border-color: rgba(255,255,255,0);
    border-left-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}

.bs-vertical-wizard ul>li.current:before {
    border-color: rgba(234,236,241,0);
    border-left-color: #eaecf1;
    border-width: 11px;
    margin-top: -11px;
}

.module-card-click-event {
  display: inline-block;
}
