@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

*, html, body, div, p, span, h1, h2, h3, h4, h5, h6, canvas {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #060115;
  z-index: -1;
}

label {
  margin: 0 !important;
  font-weight: bold !important;
  font-size: 0.8em !important;
}


h2.title {
  line-height: 1.4em;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 500px;
  font-weight: 900;
  border-left: 3px solid #0ac9f8;
  padding-left: 10px;
  font-size: 1.8em !important;
}

h2.title:after {
  content: '';
  height: 3px;
  width: 600px;
  background: -webkit-linear-gradient(left,#01d1fe,#ff005c);
  background: linear-gradient(to right,#01d1fe,#ff005c);
  display: block;
  position: absolute;
  left: 15px;
}
